<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pierrox.lightning_launcher.llscript.calendar_icon">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".CalendarIcon"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
