<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pierrox.lightning_launcher.llscript.samplellxscript">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".Main"
            android:label="@string/browse_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Hello"
            android:label="@string/browse_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
