<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pierrox.lightning_launcher.lp.gr"
    android:versionCode="5"
    android:versionName="5">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <application android:label="@string/pack_name" android:icon="@drawable/ic_launcher">
        <activity
            android:name=".gr"
            android:label="@string/pack_name_short"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.lp.ENUMERATE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
