<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pierrox.lightning_launcher.llscript.samplellxscript">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <!--A sample script that can be loaded into the launcher-->
        <activity
            android:name=".Hello"
            android:label="@string/hello_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.ENUMERATE"/>
            </intent-filter>
        </activity>

        <!--A sample plugin to demonstrate how to use the object oriented model-->
        <activity
            android:name=".Counter"
            android:label="@string/counter_name"
            android:icon="@drawable/ic_counter"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="net.pierrox.lightning_launcher.script.PLUGIN"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
